@import "../../scss/variables";

h1 {
    color: $darkGreen;
    text-align: center;    
    padding: 2rem;
    font-size: 3rem;
}

.btn-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    // border: 1px solid red;
    margin: 2rem;
    padding: 1rem;
    button{
        margin: 0.5rem;
        padding: 15px 20px;
        border: none;
        border-radius: 15px;
        box-shadow: 0 0 5px gray;
        font-weight: bold;
        cursor: pointer;
    }
    button:hover{
        background-color: $kirmizi;
        box-shadow: 0 0 5px black;
        color: white;
        transition: all 0.5s;
        font-weight: bold;
    }
}
